body{
  margin: 0;
  padding: 0;
  background: #333;
}
.login-form{
  width: 300px;
  height: 340px;
  position: absolute;
  padding: 10px 25px;
  background: white;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-bottom: 5px solid gray;
  border-radius: 4px;
}
.login-face{
  width: 100px;
  height: 100px;
  bottom: 30px;
  position: relative;
  background: skyblue;
  border-radius: 100px;
  margin: 0 auto;
  margin-top: 75px;
}
.login-face>img{
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.form{
  width: 200px;
  position: relative;
  margin: 25px auto;
}
.input{
  width: 200px;
  height: 30px;
  right: 100px;
  position: relative;
  margin: 12px auto;
}
input[type="text"],
input[type="password"]{
  width: 300px;
  height: 30px;
  outline: none;
  position: relative;
  border: 2px solid gray;
  border-radius: 5px;
  font-size: 16px;
  font-family: sans-serif, arial;
}
.fa{
  position: absolute;
  right: -99px;
  top: 5px;
  font-size: 23px;
  color: gray;
}
input[type="text"]:focus,
input[type="password"]:focus{
  border: 2px solid #0AC986;
}
input[type="submit"]{
  width: 305px;
  height: 50px;
  right: 100px;
  position: relative;
  background: #0AC986;
  font-family: sans-serif, Arial;
  font-size: 15px;
  color: #fff;
  outline: none;
  border-radius: 5px;
  border: 0px;
  cursor: pointer;
}
